#bordas{}
#inp{
    padding: 5px;
    border: none;
    border-bottom: 1px solid #4081ad;
    background-color: hsl(224, 64%, 47%, 0.8);
    outline: none;
    border-radius: 10px;
}
#inp:focus{
    background-color: hsl(224, 64%, 47%, 0.4);
    border-bottom: 2px solid #4081ad;
}

#btn{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid #4081ad;
    width: 100px;
    padding: 5px;
    background-color: hsl(224, 64%, 47%, 0.8);
    border-radius: 12px;
    transition: 0.25s;
    box-shadow: 1px 1px 5px black;
}
#btn:hover{
    background-color: hsl(224, 64%, 47%, 0.4);
    border: 2px solid #4081ad;
}